.gallery-layout {
    width: 100%;
    margin: 20px 0px;
}

.gallery-layout h2 {
    font-size: 28px;
}

.gallery-layout .content {

}

.gallery-element {
    /* display: flex; */
    position: relative;
    min-height: 240px;
    /* overflow: hidden; */
    border-radius: var(--primRad);    
    /* flex: 1 0 calc(50% - 8px); */
    /* background-color: var(--chapter-block-light); */
    /* min-width: calc(50% - 8px); */
}

/* .gallery-element :hover{
    
} */

.gallery-element a {
    opacity: 0.8;
    width: 100%;
    height: 100%;
  
    padding: 0px 20px 0px 20px;
    display: flex; flex-direction: row;
    border-radius: 12px;
    clip-path: border-box;
    
    border: 1px solid var(--divider-sec);
    /* box-sizing: border-box; */    
    /* clip-path: border-box; */
    color: #404040;
    text-decoration: none;

    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.gallery-element a:visited {
    color: #404040;
    /* border: solid 1px #ff7237; */
}

.gallery-element a:hover {
    opacity: 1;
    color: #404040;
    text-decoration: none;
    
    box-shadow: 0px 0px 14px #e0dee4;
    border: 1px solid var(--divider-prim);
}



.gallery-element a .image {
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;   
    
}

.gallery-element a .head {
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.gallery-element a .head p {
    /* text-transform: uppercase; */
    font-size: 24px;
    font-family: 'Roboto-Flex-Var';
    font-weight: 800;
    white-space: nowrap;
}


 @media (max-width: 1100px) {
    .gallery-element a {
        padding: 10px;
    }
}

@media (max-width: 880px) {
    .gallery-element:last-child  {
       max-width: auto;
    }
}



.gallery-element a .head .title {
    display: flex;
    flex-direction: column;

    transform: translate(0px, 12px);
    transition: all 200ms linear;
}

.gallery-element a .head .card-subtitle:after {
    position: absolute;
    width: 0%;
    content: '';
    left: 0;
    bottom: 0;
    height: 1px;
    background: var(--divider-prim);
    transition: all 200ms linear;
}

.gallery-element a:hover .head .title {
    transform: translate(0px, 0px);   
}

.gallery-element a:hover .head .card-subtitle::after {
    width: 100%;
}


.gallery-element .title .card-title{
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 200;
    font-size: 24px;
    font-family: 'Roboto-Flex-Var';
}
.gallery-element .title .card-subtitle{
    position: relative;
    padding-bottom: 8px;
    width: fit-content;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Roboto-Flex-Var';
    font-weight: 800;
}

/* Flag Styles */
.mark{
    padding: 4px 16px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px 0px 0px 12px;    

    font-size: 12px;
    font-weight: 600;
    color:#fff;
}

.new-mark{
    background-color: #1abc9c;
}

.dis-mark{
    background-color: #e98668;
}

/* Btn Styles */

.float-title{
    padding: 6px 0px;
    opacity: 0;
    transform: translate(0px, -4px);
}

.gallery-element a:hover .float-title {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 200ms linear;
}



/* up to indexcss */
/* QUICK SECTIONS */

.quick-sections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* height: 400px; */
    /* background-color: var(--chapter-block-light); */
}

.qsection{
    display: flex;
    position: relative;
    /* overflow: hidden; */
    border-radius: var(--primRad);    
    flex: 1 0 calc(50% - 8px);
    background-color: var(--chapter-block-light);
}


.sim {
    /* content:""; */
    /* width: 100%; */
    /* background: url("https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/simulators/pio_drone_sim-menu1-min.png") no-repeat; */
    /* position: absolute; */

    /* background-image: url("https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/simulators/pio_drone_sim-menu1-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    -webkit-mask-image: -webkit-linear-gradient(left, #f6f6f654 0%, #f6f6f678 50%, #fefefe 100%); */
    
  }

.sim a {
    z-index: 1;
}

.fill a .image{
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    -webkit-mask-image: -webkit-linear-gradient(left, #ffffff00 10%, #ffffff3b 50%, #ffffff 80%);
}