/*Параметры для msgOverlay msgWrapper и потомков*/

.msgOverlay{ position: fixed; top:0; left:0; display: none; opacity: 0; width: 100%; height: 100%; z-index: 400;
    background-color: #00000050;
    transition-property: opacity;
    transition-duration: 1000ms;    
}

.msgWrapper{
    position: fixed; display: flex; justify-content: center; align-items: center; 
    width: 100%;
    top: 20%;
    z-index: 600;
    user-select: none;   
}

.msgWrapper::before{
    display: none;
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 15px;
    content: " ";
    font-weight: 700;
    font-family: 'Roboto-Flex-Var', 'Segoe UI', sans-serif;
    font-size: 12px;
    /* color: #4D00FF; */
}

.msgBlock{
    position: relative;
    display: flex; flex-direction: row;
    height: 100%;
    width: 50%;
    max-width: 900px;
    /* box-shadow: inset 0px 0px 200px 180px #00000060, 0px 0px 200px 180px #00000060; */
    cursor: pointer;
}

.msgHeader{
    width: 100%;
    height:auto;
    color: #ffffff;
    font-size: 54px;
    font-variation-settings: 'wght'700;
    font-family: 'Roboto-Flex-Var', 'Segoe UI', sans-serif
}

.msgContent{
    display: flex; flex-direction: column; justify-content: space-between;
    height: 100%;
    width: 100%;
     
    color: #ffffff;
    font-family: 'Roboto-Flex-Var', 'Segoe UI', sans-serif;
    font-size: 20px;    
}

.msgContentText{
    display: flex;  
    padding: 2% 0% 0% 4px;
    line-height: 1.4;
}

.msgBtnWrapper{
    display: flex; flex-wrap: wrap; justify-content: space-between; 
    width: 100%;
    min-width: 480px;   
    padding: 5% 0px 0px 4px;
}

.msgBtn{
    display: flex; justify-content: center; align-items: center;    
    position: relative;
    height: 60px;
    width: 46%; 
    min-width: 210px;
    position: relative;
    transform: scale(0,0);

    cursor: pointer;
    font-size: 20px;
    font-variation-settings: 'wght' 400;
    color: #fff;    

    background-color: #ffffff00;
    transition: all 0.3s;

    -webkit-tap-highlight-color: transparent;
}

.msgBanner{
    width: 800px;
    height: 367px;
    /* color: #fff; */
    background-image: url(https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/banners/conference-geoscan_desktop_3_800%D1%85367.png);
    background-repeat: no-repeat;
}

.msgBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #ffffff0f;
    transition: all 0.5s;
}

.msgBtn:hover::before {
    opacity: 0 ;
    transform: scale(0.4,0.4);  
}

.msgBtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    border: 2px solid #f95002c9;
    transform: scale(1.1,1.4);
}

.msgBtn:hover::after {
    opacity: 1;
    transform: scale(1,1);  
}

.msgBtn:hover{
    color: #f95002;
}

.msgBanner > .btnClose{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    font-size: 27px;
    color: #fff;
    transition-property: all;
    /* transform-origin: center;
    transition-duration: 200ms; */
}

.msgBanner > .btnClose:hover{
    /* transform: scale(1.1);
    transform-origin: center; */
    text-shadow: 0px 0px 6px #ffffff;
}

@media(max-width: 960px) and (orientation: landscape){
/* 
	.msgWrapper{
        top: 50%;
        transform: translateY(-50%);
        margin: auto auto;
    }

    .msgBlock.msgBanner{
        background-image: none;                   
        background-image: url(https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/banners/hellopioneer_desktop_768х88_1.png);

        padding: 15px 50px 15px 15px;
        gap: 20px;
        width: 100%;
        height: 88px;        
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--divider-prim);
    }

    .msgHeader{
       font-size: 34px;
    }

    .msgContent{
        font-size: 17px;
    }

    .msgBtn{
        max-width: 48%;
        font-size: 17px;               
    } */
}

@media(max-width: 768px){

    .msgOverlay{top:calc(100% - 88px); left:0; display: none; opacity: 0; width: 100%; height: auto; z-index: 400;
        /* position: absolute; */
        top: auto;
        bottom: 0;
        background-color: #00000050;
        transition-property: opacity;
        transition-duration: 1000ms;
        align-items: center;    
    }

    .msgWrapper{
        /* position: relative; */
        flex-direction: row;
        gap: 10px;
        top: auto;
        bottom: 0;
        
    }

    .msgWrapper::before{
        display: block;
    }

    .msgBlock.msgBanner{
        height: 88px;
        background-image: url(https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/banners/conference-geoscan_desktop_3_768%D1%8588.png);
        background-color: #eeeeee;    
        border: 1px solid (var(--divider-prim));
        /* background: linear-gradient(to right, #080e1d 20%, #180b49 75%, #080e1d 100%); */
    }

    .msgBanner > .btnClose{
        /* color: var(--dark-text-prim) */
    }

    .msgBanner::before{
        display: inline-block;
    }

    .msgBanner::after{
        display: block;
    }
}

@media(max-width: 425px ) {

    .msgBlock.msgBanner {
        background-position-x: center;
        background-image: url(https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/banners/conference-geoscan_desktop_3_425%D1%8588.png);
    }

    .msgHeader {
        font-size: 34px;
    }

    .msgContent {
        font-size: 17px;
    }

    .msgBtn {
        font-size: 17px;
    }    

    /* .msgBanner::before{
        font-size: 13px;
    }

    .msgBanner::after {
        display: block;
        min-width: 50px;
    } */
}


/* .msgBanner::before{
    content: 'КОНКУРС ПО РОБОТОТЕХНИКЕ "HELLO, PIONEER!"';
    padding-top: 24px;
    text-transform: uppercase;
    font-family: 'Roboto-Flex-Var', 'Segoe UI', sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.04em;
    display: none;
} */

/* .msgBanner::after{
    content: 'East';
    font-family: 'Material Symbols Outlined';
    font-size: 32px;
    font-weight: 800;
    display: none;
    min-width: 100px;
    height: fit-content;
    background-color: #FF7237;
    color: #fff;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
    border-radius: 4px;
    text-align: center;
} */