.gen-header{
    width: 100%;
    height: 46px;
    background-color: #cecece;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--divider-prim);
    background-color: #fff;
}

.gen-header a{
    font-weight: normal;
    text-decoration: none;
}

.icon-home{
    display: flex !important;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.icon-home:hover{
    text-decoration: none;
}

.icon-home .logo{
    /* content: url('https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/icons/logPio1.svg');         */
    content: "";
    position: relative;
    height: 30px;
    width: 30px;
    transform-origin: center center;
    transition: all .15s ease;
    background-image: url('https://storage.yandexcloud.net/pioneer-doc.geoscan.ru-static/images/icons/logPio1.svg');
    background-size: contain;
}

.logo-titles{
    display: flex;
    min-width: 260px;
    flex-direction: column;
    padding: 0px 20px 0px 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark-text-prim);
    font-family: "Roboto-Flex-Var", "Roboto", sans-serif;
}
.logo-title{
    font-size: 13px;
    line-height: 13px;
    /* font-stretch: extra-expanded; */
    letter-spacing: 1.5px;
}

.logo-subtitle{
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    font-stretch: extra-expanded;    
}

.logo-subtitle>f{
    opacity: 0.4;
    font-size: small;   
}

/* HEADER-SEARCH */

.wy-header-nav-search{
    position: absolute;
    right: 0;
}

.wy-header-nav-search #rtd-search-form{
    margin: 0px;
    padding: 0px 20px;    
}

.wy-header-nav-search input[type="text"]{   
    transition: all 0.15s cubic-bezier(.39,.58,.57,1);
    width: 230px;
    font-family: "Roboto-Flex-Var", "Roboto", sans-serif;
}

.wy-header-nav-search input[type="text"]:focus{    
    width: 320px;    
}



/* HEADER-MENU-TOGGLE */

.menu-toggle{
    display: none;
    position: absolute;
    height: 100%;
    align-items: center;
    padding: 0px 20px;
    right: 0;
    color: var(--dark-text-sec);    
}

.menu-toggle:hover{
    text-decoration: none;
    color: var(--dark-text-prim);
}

/* NAV-LINK BLOCK */

.nav-link{
    display: flex;
    flex-direction: row;    
    /* height: 100%; */
}

.nav-link a{
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0px 10px 0px 0px;
    color: var(--dark-text-sec);
    font-size: 15px;
    font-family: "Roboto-Flex-Var";
}

/* HEADER NAV-LINK BLOCK */
.header-nav-link{      
    height: 100%;
    align-items: center;
}

/* SIDEBAR NAV-LINK BLOCK --> move on sb styles*/
.sidebar-nav-link{
    display: none;    
    flex-direction: column;
    height: auto;    
}

.sidebar-nav-link a{
    width: 100%;
    padding: 8px 24px;
}


@media screen and (max-width:768px){
    .header-nav-link{
        display: none;        
    }
}

@media screen and (max-width:768px){
    .sidebar-nav-link{
        display: flex;
        direction: ltr;        
    }
}

@media screen and (max-width:1080px){
    .gen-header .input[role=search]{
        display: none;        
    }

    .menu-toggle{
        display: flex;       
    }
}
