.wy-nav-content {
    max-width: 70%;
    min-width: 70%;
    padding-top: 0px;
}

.wy-nav-top {
    background: #313131;
    color: #fff;
    transition: all 0.3s ease;
}

.wy-nav-top.out{
    transform: translateY(-100%);
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: transparent;
}


/*Bootstrap reStyle*/

.accordion-header{
    margin: 0;
}

.accordion-button{
    font-weight: 700;
    color: var(--dark-text-sec);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed){
    color: var(--dark-text-prim);
    background-color: var(--bs-gray-300);
}

.accordion-button .collapsed{
    color: var(--dark-text-sec);    
}


/* LINKS */
a {
	color: var(--dark-text-sec);
    font-weight: bold;
	text-decoration: underline;
	cursor: pointer;    
	overflow-wrap: break-word;
	text-underline-offset: 3.5px;
}

a:hover {
	/* color: #3091d1 */
	color: var(--dark-text-prim);
	text-decoration: underline;
}

a:visited {
	/* color: var(--divider-sec); */
}


/* BS_CRS */
.carousel-item img{
    padding: 0;
}


/* LOCAL TOCTREE */

.local-toc-wrapper{
    position: sticky;
    top: 46px;
    height: 100%;
    /* overflow-y: auto; */
}

.local-toc-wrapper #toc-title{
    margin: 0;
    display: inline-flex;
}

.local-toc{
    /* margin-top: 46px; */
    position: relative;
    width: 300px;
    /* padding: 1em; */
    /* border-left: 1px solid #ddd; */
    background: transparent;
    /* font-size: 14px; */
}

.local-toc ul{
    list-style: none;
    padding-left: 0.8em;
}

.local-toc li{
    margin: 0.2em 0;
    list-style: none;
}

.local-toc a{
    text-decoration: none;
}

.local-toc a:hover{
    text-decoration: underline;
}



/*Параметры для класса flexrow. Вызов через .. container:: flexrow */
/*не актуально после апдейта bootstrap > использовать директиву .. node:: c атрибутом :class: */

.flexrow{
    display: flex;
    flex-direction: row;
    margin: -8px;
}
.flexrow img{
	padding: 0px 8px;
}

@media(max-width: 1400px){
    .flexrow{
        flex-wrap: wrap;
        top: 20px;
    }
}

/*Для скрытия больших объектов с кодом в классе codeblocksize1*/

.codeblocksize1{
    max-height: 480px;
    overflow: auto;
    /*margin-bottom:20px;*/
}

.codeblocksize1 .linenodiv pre{
    color: #c9c9c9;
}

.codeblocksize1 .code{
    width: 100%;
}

/*Замена сломанного отображения codeblock → перенести в основные стили?*/
/*theme.css 7030*/

.field-list.simple{
    display: flex;
    flex-direction: column;
}

/*Footer → replace in footer.css or theme.css*/
footer a {
    color: #7e7e7e;
    font-weight: bold;
}
footer a:visited {
    color: #7e7e7e;
}
footer a:hover {
    color: #505050;
}


.projectInfo{
    display: flex;
    flex-direction: column;
}

.projectInfo span{
    padding: 4px 0px;
}

.social{
    display: flex;
    flex-direction: column;
}

.socialIcon{
    display: flex;
    margin: 4px 0px;
}

.socialIcon a{
    height: 36px;
    margin-right: 10px;
}

.socialIcon a path{
    fill: #a1a1a1;
    transition: all 0.5s ease;
}

.socialIcon a:hover path{
    fill: #313131bd;
}

/*Стили табов → перенести в основные стили?*/
.tabs{
    border: 0px;    
}
.tabs_nav{
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    background: transparent;
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #e0e0e0;
}
.tabs_btn{
    /* flex: 1; */
    padding: 8px 16px;
    text-decoration: none;

    font-size: 17px;
    color: var(--dark-text-sec);
    /* font-weight: 500; */

    border: 1px solid transparent;
    cursor: pointer;
    /* font-family: "Roboto Flex", sans-serif; */
    /* letter-spacing: 1.1px; */
    
    /* font-variation-settings: 'wght' 600; */
    transition-property: all;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;
}
.tabs_btn_active{
    background: #c9c9c9;
    color: var(--dark-text-prim);
    cursor: default;    
}


.tabs_btn:not(.tabs_btn_active):hover,
.tabs_btn:not(.tabs_btn_active):focus{
    background-color: #e1e1e1;
    color: var(--dark-text-prim);
}

.tabs_pane{
    display: none;
}
.tabs_pane_show{
    display: block;
    padding: 20px 0px;
}

.tabs_pane_title{
    display: flex;
    align-items: center;
    font-weight: 700;    
}

/* CARDS [COMPONENTS] STYLES */
.components-group{
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
   /* justify-content: space-between; */
   gap: 20px;
}

.components-group.act__img{
    /* gap: 20px; */
}

.component{
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   /* background-color: var(--chapter-block-light); */
}

.components-group.dwnld__file > .component{
    /* height: 160px; */
    background-color: var(--chapter-block-light);
    flex-direction: row;
    align-items: center;
    /* gap: 20px; */

}
.components-group.dwnld__file > .component:hover::before {
    color: var(--link-general);
}
.components-group.dwnld__file > .component:hover .comp-header > span {
    color: var(--dark-text-prim);
}


.components-group.dwnld__file > .component > .comp-header{
    padding: 8%;     
}
.components-group.dwnld__file > .component > .comp-cont{
    position: absolute;
    width: 100%;
    height: 100%;     
}

.components-group.dwnld__file > .component > .comp-cont a{
    display: block;
    width: 100%;
    height: 100%;     
}
.components-group.dwnld__file > .component::before{
    content: "file_save";
    font-family: "Material Symbols Outlined";
    font-size: 50px;
    color: var(--divider-sec);
    padding-left: 8%;
    transition: all .2s linear;
}


.component:nth-child(2n + 1),
.component:nth-child(2n + 2) {
flex: 0 0 calc(50% - 10px);
}

.comp-header{
   display: flex;
   flex-direction: column;
   /* flex-wrap: wrap; */
   padding-bottom: 10px;
}

.component-title{
   font-weight: 600;
   font-size: 19px;
   color: var(--dark-text-sec);
}
.component-subtitle{
   /* align-self: flex-end; */
   font-weight: 400;
   font-size: 16px;
   color: var(--dark-text-sec);
}

.components-group.act__img > .component{    
    flex: 0 0 calc(33% - 10px);
}



.components-group.act__img > .component > .comp-cont a{
    /* background-image: url(attr(data-payload)); */
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 50%;
    text-decoration: none;
}

@media (max-width: 1600px) {
    .components-group.act__img > .component{    
        flex: 0 0 calc(50% - 10px);
    }
}


.components-group.act__img > .component > .comp-cont:hover a{
    display: flex;
    visibility: visible;
}
.components-group.act__img > .component > .comp-cont:hover img{
    opacity: 0.7;
}

.components-group.act__img > .component > .comp-cont{
    position: relative;
    background-color: #242424;    
}
.comp-link span{
    font-size: 36px;
    color: #ffffff;
    text-shadow: 0px 0px 16px #000    
}
.comp-link.view_link{
    left: 0;
}
.comp-link.dwnld_link{
    right: 0;    
}
.comp-link:hover span{
    transform: scale(1.2);    
}
.comp-link.dwnld_link:hover span{
    color: rgb(39, 202, 39);
    /* text-shadow: 0px 0px 12px #000 */
}
.comp-link.view_link:hover span{
    color: rgb(28, 204, 248);
    /* text-shadow: 0px 0px 12px #000 */
}


/* JSTables STYLES */
.table-wrp{
   width: 100%;
   /* border: solid 1px black; */
   /* height: 400px; */
   overflow-x: auto;
   /* border-radius: 12px; */
   padding: 30px 0px;
}


.table-wrp a{
   display: flex;
   min-width: 160px;
   flex: 1;
   text-decoration: none;
   padding: 8px 16px;
   font-size: 15px;
   color: var(--dark-text-prim);
}

.tbl-nav{
   position: relative;
}


.tbl-nav select{
   width: 100%;
   height: 34px;
   border: 0px;
   font-size: 16px;
   background-color: #e6e6e6;
   color: var(--dark-text-sec);

   -moz-appearance:none; /* Firefox */
   -webkit-appearance:none; /* Safari and Chrome */
   appearance:none;
}
.tbl-nav option{
    background-color: #fff;
 }
 .tbl-nav option:hover{
    background-color: #e6e6e6;
 }   

.tbl-nav:before {
   font-family: 'Material Icons';
   content: "segment";
   -webkit-font-feature-settings: 'liga';
   position: absolute;
   font-size: 18px;

   
   color: var(--dark-text-sec);
   display: inline-flex;
   height: 100%;
   align-items: center;
   right: 8px;
   pointer-events: none;
}

.tbl-cont{
   height: 300px;
   overflow-y: auto;
}

.tbl-cont a{
    cursor: default;
}

.tbl-title{
   background: transparent;
   font-weight: 500;
   align-items: center;
   justify-content: space-between;
}

.tbl-attr{
   position: sticky;
   top: 0;
   display: flex;
   column-gap: 10px;
   background-color: #fff;         
}

.tbl-attr a{        
   flex: 1;
   /* background-color: #c9c9c9; */
   border-bottom: 2px solid var(--divider-prim);
}

.tbl-row:nth-child(even) {
    background-color: var(--chapter-block-light);
}

.tbl-row{
   display: flex;
   column-gap: 10px;   
}

.tbl-options{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   background-color: #e6e6e6;
}
.tbl-options a{
   font-size: 13px;
   min-width: auto;
   align-items: center;
   flex: 0;
}
.tbl-options span{
   font-size: 18px;
   color: var(--dark-text-sec);
}


/* STEPS */
.steps{
    counter-reset: step;
    position: relative;
    margin-left: calc(var(--spacing)* 2);
    border-left-style: solid;
    border-left-color: var(--divider-sec);
    border-left-width: 1px;
    padding-left: calc(var(--spacing)* 6);
}

.steps > .step:before {
        background-color: var(--divider-sec);
        color: var(--dark-text-sec);
        content: counter(step);
        counter-increment: step;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
        line-height: 1.25rem;
        display: flex;
        position: absolute;
        inset-inline-start: calc(var(--spacing)* -4);
        width: calc(var(--spacing)* 8);
        height: calc(var(--spacing)* 8);
        border-radius: calc(infinity* 1px);
    }

.step{
    display: block;
    min-height: 40px;
}



/*Стили массива для карточек c составом набора*/
    .arrayOfCard{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
    }

    .descBlock{
        position: relative;
        /*background-color: rgba(227,227,227,1);*/
        padding: 16px 16px 16px 16px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white;

        font-family: 'Montserrat', sans-serif;
        font-variation-settings: 'wght' 600;
        color:#606060;
        font-size: 14px;    
    }

    .descBlock .cols{
        display: flex;
        justify-content: space-evenly;
        padding-top: 16px;
        width: 100%;
    }

    .descBlock .cols .col{
    }

    .blockWrp{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex:1 0 0;
        flex-direction: column;
        min-width: 220px;    
        justify-content: space-between;
    }

    .fullWdt{
        min-width: 49%;
    }

    @media screen and (max-width:1320px){
        .fullWdt{
            min-width: 100%;
        }
    }

    .blockWrp span{
        z-index: 100;
        display: inline-block;   
    }

    .imgBlock{
        width: 100%;
        display: flex;
        justify-content: center; 
    }

    .imgBlock .svg-container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;    
    }

    .imgBlock svg{    
    }


/* FIX RTD ADMONITIONS! */

.rst-content .admonition.important, .admonition.warning, .admonition.attention{
    background-color: #ffedcc;
}
.rst-content .admonition.important .admonition-title, .admonition.warning .admonition-title, .admonition.attention .admonition-title{
    background-color: #f0b37e;
}

.rst-content .admonition.danger, .admonition.caution, .admonition.error{
    background-color: #ffdddd;
}
.rst-content .admonition.danger .admonition-title, .admonition.caution .admonition-title, .admonition.error .admonition-title{
    background-color: #d87d7d;
}

.rst-content .admonition.tip{
    background-color: #cdffdd;
}
.rst-content .admonition.tip .admonition-title{
    background-color: #6bbc86;
}


/* GENERAL STYLES */
:root {
    --prim-color: #6750A4;     
    --dark-prim-color:#5a4986;

    --dark-text-prim: #404040;
    --dark-text-sec: #54515b;

    
    --divider-prim: #bbbabe;
    --divider-sec: #d8d8da;
    
    --transp-black: #00000050;

    --link-general: #5D7DE0;
    --attention-prim: #dd686f;

    --chapter-block-light :#f6f6f6;

    --primRad: 9px;

    --spacing: 0.25rem;
    }

