:root {
    /* --tile-height: 80px; */
}

.tile .toctree-wrapper.compound {
    display: block;
}

.tile {
    margin: 16px 0px;    
    /* background-color: var(--chapter-block-light); */
    /* box-shadow: 0px 15px 15px -10px #00000026; */
    /*border-radius: 6px;*/
    display: flex;
    flex-direction: column;
    border: 1px solid var(--divider-sec);
    border-radius: var(--primRad);
    /* grid-template-columns: 100px 300px minmax(0, 10px) 15px minmax(330px, auto); */
    /*grid-template-rows: var(--tile-height) auto;*/     /*параметр устанавливается внутри html директивой tile */
    /*height: var(--tile-height);*/                      /*параметр устанавливается внутри html директивой tile */
    width: 100%;
    height: var(--tile-height);
    /* align-items: center; */
    overflow: hidden;
    overflow-x: clip;
    transition: all 0.2s ease;
}

.tile.no-image.no-any-text {
    grid-template-columns: 100px auto;
}

.tile > .title{
    display: flex;
    align-items: center;
    cursor: context-menu;
    padding: 10px;
    padding: 20px;
    gap: 20px;
}

.tile .header{
    display: flex;
    user-select: none;
    flex-direction: column;
    margin: 0;  
}


.tile .spacer span{
    user-select: none;
    transition: all 0.2s linear;
}

.tile .header p,
.tile .caption p{
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 500;
    font-size: 17px;
    color: var(--dark-text-sec);
}

.tile.large{
    border: 1px solid var(--divider-prim);
}

.tile.large .header p,
.tile.large .caption p,
.tile.large .spacer {
    color: var(--dark-text-sec);
}

.tile.large .content {
    display: block;
}

.tile.large .spacer span{
    transform: rotate(90deg);
}


.tile hr {
    margin: 0;
    width: 100%;
    /* height: 1px; */
    /* border: 0; */
    background-color: var(--divider-sec);
    transition: all 0.2s ease;
}

.tile.large hr {
    background-color: var(--divider-sec);
}

.tile .image img {
    width: 100%;
    height: 100%;
}

.tile .image {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    margin: 0;
    justify-self: center;
    align-self: center;
}

.tile .content {
    display: none;
    padding: 0px 20px;
}

.tile .content p {
    margin-bottom: 10px;
}

.tile .content img {
    margin-top: 15px;
    margin-bottom: 15px;
}


.tile .title:hover .header p,
.tile .title:hover .caption p,
.tile .title:hover .spacer,
.tile .title:hover .header hr{
    color: var(--dark-text-prim);
}


.tile:has(.title:hover) {
    border-color: var(--divider-prim);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);    
}


.tile .spacer {
    display: flex;
    /* color: var(--divider-sec); */
    /* position: absolute; */
    /* text-align: center; */
}

.tile .spacer::after{
    display: flex;
    opacity: 0;

    content: "cancel";
    font-size: 25px;
    font-family: 'Material Symbols Outlined';

    transform: scale(0, 0);
    transition: all .2s linear;    
}

.tile .spacer::before{
    display: flex;
    position: absolute;
    opacity: 1;

    content: "expand_circle_down";
    font-size: 25px;
    /* color: var(--transp-black); */
    font-family: 'Material Symbols Outlined';

    transition: all .2s linear;
    transform: scale(1, 1);
}

.tile.large .spacer::after{    
    opacity: 1;
    transform: scale(1, 1);
    /* transform: rotate(90deg); */
}

.tile.large .spacer::before{
    opacity: 0;
    transform: scale(1.6, 1.6);    
    /* transform: rotate(90deg); */
}



@media (max-width: 1260px) {
    .tile {
        grid-template-columns: minmax(120px, 190px) 15px minmax(185px, auto);
    }
    .tile .caption,
    .tile .spacer {
        display: none;
    }


    .tile.no-image {
        grid-template-columns: minmax(50px, 100px) 15px minmax(185px, auto);
    }
    .tile.no-image .spacer {
        display: block;
    }

    .tile.no-image.no-any-text {
        grid-template-columns: minmax(50px, 100px) auto;
    }

    .tile hr {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .tile .image {
        width: auto;
        height: auto;
        align-self: center;
        justify-self: center;
    }

    .tile .content img {
        max-width: 60%;
    }
}

@media (max-width: 415px), (max-height: 415px) {
    .tile .content * {
        font-size: 15px;
    }

    .tile {
        grid-template-columns: minmax(50px, 120px) minmax(10px, 15px) 185px;
    }

    .tile .image{
        min-width: 30px;
        max-width: 65px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .tile div {
        margin: 5px;
    }
}

@media (max-width: 360px) {
    .tile {
        grid-template-columns: minmax(50px, 70px) minmax(5px, 15px) minmax(150px, 185px);
    }
}